/* Home page section */

.responsive-image {
  max-width: 60%;
  height: auto;
  justify-content: center;

@media (max-width: 768px) {
  max-width: 100%;
}
}


.select-activity-section,
.image-section {
  margin-bottom: 40px;
  padding: auto;
}
.about-section {
  padding: 40px;
}

.select-activity-section {
  background: linear-gradient(to right, #ad7038, #666); 
  padding: 40px; 
  text-align: center; 
}

.select-activity-section h2 {
  color: white; 
}

.select-activity-section .btn {
  display: inline-block;
  padding: 15px 30px; 
  font-size: 20px; 
  text-align: center;
  text-decoration: none;
  background-color: #fff; 
  color: #666; 
  border-radius: 10px; 
  transition: background-color 0.3s;
}

.select-activity-section .btn:hover {
  background-color: #ad7038; 
  color: white; 
}

.third-picture-section-img {
width: 400px;
height: 600px;
align-items: center;
}
/* Navbar styles */
.navbar {
  background-color: #333;
  color: #fff;
}

.navbar-brand-img {
  height: 50px; 
  width: auto; 
}

.container-lg {
  display: flex;
  justify-content: space-between; 
  align-items: center;
}

.site-title {
  font-size: 24px;
  font-weight: bold;
  color: #ad4d0e;
  text-decoration: none;
  margin-right: auto; 
}

.navbar-toggler {
  order: -1; 
}

.navbar-nav {
  margin-left: auto;
}

.navbar-nav .nav-link {
  font-weight: bold;
}

/* Réduire la marge des liens dans le menu déroulant */
.navbar-nav .nav-item {
  margin-right: 10px;
}

/* Ajustements pour le menu déroulant */
.user-dropdown-btn {
  background-color: #ad7038;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.user-dropdown-content {
  min-width: 160px;
}

/* User actions styles */
.user-actions {
  display: flex;
  align-items: center;
  color: #ad7038;
}

.user-actions div {
  margin-right: 10px;
}

.sign-in-btn, .sign-out-btn {
  margin-right: 10px;
}

/* Media Query pour une meilleure réactivité */
@media (max-width: 991px) {
  .container-lg {
    padding: 0 15px; 
  }

  .navbar-toggler {
    margin-right: 15px; 
    margin-left: 15px; 
  }

  .navbar-nav .nav-item {
    margin-right: 0; 
  
  }
}

@media (max-width: 767px) {
  .navbar-nav {
    flex-direction: column;
  }

  .navbar-nav .nav-item {
    margin-right: 0;
    margin-bottom: 10px; 
  }
}

/* Navbar styles */
.navbar {
  background-color: #333;
  color: #fff;
  width: 100%;
}

.navbar-brand-img {
  height: 100px;
  width: 100px;
}

.container {
  display: flex;
 justify-content: end;
  align-items: center;
  
}

.navbar-brand {
  color: rgb(148, 77, 51);
  text-align: center;
  padding: 20px;
  font-weight: bold;
}

.site-title {
  font-size: 24px; 
  font-weight: bold; 
  color: #ad4d0e; 
  text-decoration: none;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold; 
}

.navbar-nav {
  margin-left: auto;
}

.navbar-nav .nav-link {
  font-weight: bold;
}

/* Social Icons in Footer */
.social-icons {
  text-align: right;
  margin-top: 10px;
}

.social-icons li {
  display: inline-block;
  margin-right: 15px;
}

.social-icons a{
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}

.social-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.social-icons img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Footer Links */
.footer-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: white;
  font-weight: bold;
}

.footer-link {
  margin-bottom: 10px;
  text-decoration: none;
  color: white;
}

/* Footer Container */
footer {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  bottom: 0;
  width: 100%;
  position: static;
}

/* footer */

.site-footer
{
  background-color:#26272b;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}

.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}

.navbar-brand-footer img {
  width: 30%;
  height: auto;
  max-width: 100%;
}

@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
#bootstrap-overrides.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
#bootstrap-overrides.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
#bootstrap-overrides.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}

.social-icons a.instagram:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  #bootstrap-overrides.social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

/* User actions styles */
.user-actions {
  display: flex;
  align-items: center;
  color: #ad7038;
}

.user-actions div {
  margin-right: 10px; 
}

.sign-in-btn, .sign-out-btn {
  margin-right: 10px;
}

.btn,
  .btn-primary {
    border-radius: 25px;
    border: none;
    cursor: pointer;
    padding: 10px 15px;
    text-transform: uppercase;
    transition: all 0.1s ease-in-out;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    text-align: center;
    transition: background-color 0.3s;
    background-color: #d25b10;
    color: #ffffff;
  }

  .btn:hover,
  .btn-primary:hover {
    box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.5);
    transform: translateY(-3px);
    background-color: #666; 
  }


.btn.btn-secondary {
  background-color: #666; 
  color: white; 
}

.btn.btn-secondary:hover {
  background-color: #555; 
}


/* menu déroulant */
.user-dropdown {
  position: relative;
  display: inline-block;
}

.user-dropdown-btn {
  border-radius: 25px;
  border: none;
  cursor: pointer;
  padding: 10px 15px;
  text-transform: uppercase;
  transition: all 0.1s ease-in-out;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  text-align: center;
  transition: background-color 0.3s;
  background-color: #ad7038;
  color: #ffffff;
}

.user-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  min-width: 160px; 
}

.user-dropdown-content a, .user-dropdown-content button {
  color: black;
  padding: 10px;
  text-decoration: none;
  display: block;
  white-space: nowrap; 
}


.user-dropdown-content a:hover, .user-dropdown-content button:hover {
  background-color: #ddd;
}

.user-dropdown:hover .user-dropdown-content {
  display: block;
}

/* Additional styles for user actions */
.user-actions {
  display: flex;
  align-items: center;
  color: #ad7038;
}

.sign-in-btn, .sign-out-btn {
  margin: left 2%;; 
  margin-right: 10px;
}

/* navbar */
.nav {
  background-color: #333;
  color: #2c2b2b;
  padding: 1em;
  width: 100%; 
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-title h1 {
  margin: 1;
  color: #ad7038;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #262525;
}


/* activity */

.activitytitle {
color: #ad7038;
margin-right: 2rem;
}

/* form */
.activity-form {
  margin: 50px auto; /* Ajout de margin pour centrer le formulaire */
  padding: 20px;
  border: 1px solid #ddd;
  max-width: 700px; /* Définition de la largeur maximale du formulaire */
  width: 100%; /* Largeur maximale du formulaire en pourcentage */
  box-sizing: border-box; /* Inclure la bordure et le padding dans la largeur totale */
}

.form-label {
  font-weight: bold;
}

.form-group {
  margin-bottom: 15px;
}

.form-control {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}
/* Ajoutez ces styles après le style existant pour les boutons */
.btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  background-color: #ad7038; /* Couleur orange */
  color: white; /* Couleur du texte du bouton */
  border-radius: 5px;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #666; /* Couleur gris foncé au survol */
}

.btn-secondary {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  background-color: #5f5750; /* Couleur orange */
  color: white; /* Couleur du texte du bouton */
  border-radius: 5px;
  transition: background-color 0.3s;
}

.btn-secondary:hover {
  background-color: #555; /* Couleur gris un peu plus foncé au survol */
}
.btn-primary {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  background-color: #ad7038; /* Couleur orange */
  color: white; /* Couleur du texte du bouton */
  border-radius: 5px;
  transition: background-color 0.3s;
}

/*Table activities*/

.activity-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  margin-bottom: 20px;
  margin: 50px auto; /* Ajout de margin pour centrer le formulaire */
  padding: 20px;
  max-width: 700px; /* Définition de la largeur maximale du formulaire */
  width: 100%; /* Largeur maximale du formulaire en pourcentage */
}

/* Your existing code */

/* Additional styles for responsive layout */
@media only screen and (max-width: 600px) {
  .activity-table {
    display: block;
    width: 100%;
  }

  .activity-row {
    display: flex;
    flex-wrap: wrap;
  }

  .activity-cell {
    width: 50%;
    box-sizing: border-box;
    padding: 10px;
  }
}
{
    box-sizing: border-box;
  }

  body {
    background-color: #f6f5f7;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    
    margin-bottom: 50px;
  }

  .text-center {
    text-align: center;
  }

  .responsive-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }

  .responsive-table th, .responsive-table td {
    text-align: left;
    padding: 15px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    width: 100%;
  }

  .activity-image {
    max-width: 100px;
    max-height: 100px;
    display: block;
    margin: 0 auto;
  }

  .link {
    text-decoration:none;
    color: #26272b;
    
  }

  .delete-icon {
    cursor: pointer;
  }

  @media only screen and (max-width: 768px) {
    .responsive-table th, .responsive-table td {
      display: block;
      text-align: left;
    }

    .responsive-table tr {
      display: block;
      margin-bottom: 20px;
      box-sizing: border-box;
    }
  }
/* Ajoutez ces styles après le style existant pour les boutons */

.activity-table th,
.activity-table td {
  text-align: left;
}


.activity-table a {
  text-decoration: none;
   /* Supprime le souligné */
}



.activity-table a:hover {
  text-decoration: none; /* Supprime le souligné au survol */
}

.delete-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  color: white;
  text-align: center;
  border-radius: 50%;
  line-height: 20px;
  cursor: pointer;
}

.delete-icon:hover {
  
}

.activity-table td {
  padding: 20px;
  border: 1px solid #ddd;
  text-align: left;
  text-decoration: none;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
}

.activity-cell a {
  text-decoration: none;
  color: inherit;
  display: block;
  text-align: center; /* Pour centrer le texte sous l'image */
}


/* body */
.activitytitle {
  color: rgb(148, 77, 51);
  text-align: center;
  padding: 20px;
  font-weight: bold;
}

.activitytitleh2 {
  color: rgb(172, 89, 59);
  text-align: center;
  padding: 20px;
}


body.home {
  background-color: #f0f0f0; /* Couleur de fond de la page d'accueil */
  font-family: Arial, sans-serif; /* Police de caractères */
  margin: 0;
  padding: 0;
}
 body {
  background-color: #bcbcbc; /* Couleur de fond de la page d'accueil */
  font-family: Arial, sans-serif; /* Police de caractères */
  margin: 20px;
  padding: 20px;
 }
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;

}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-box {
  flex: 1;
  padding-right: 20px;
  text-align: left;
}

.right-box {
  flex: 1;
  padding-left: 20px;
  text-align: center;
}

h2 {
  color: #b76420; 
}

p {
  color: #555; /* Couleur du texte */
}

img {
  max-width: 100%;
  height: auto;
}

/* Header */

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1em;
}


/* Media Query for Mobile Devices */
@media only screen and (max-width: 768px) {
  nav {
    padding: 1em 0;
  }

  .site-title {
    font-size: 15px;
  }

  .container {
    padding: 0px;
  }

  nav ul {
    flex-direction: column;
    text-align: center;
  }

  nav ul li {
    margin: 10px 0;
  }

  .jumbotron p.lead {
    font-size: 1rem;
  }

  .navbar-nav {
    margin-right: auto;
  }
}


/* Additional styles for Jumbotron */
.jumbotron {
  background-color: #26272b;
  color: #fff;
  padding: 1rem;
  margin-bottom: 0;
}

.jumbotron h1, .jumbotron p {
  margin-bottom: 0.5rem;
}

.jumbotron p.lead {
  font-size: 1.25rem;
}